 @font-face{
     font-family:"Sweet";
     src: url("fonts/Sweet\ Creamy.otf") 

 }
 @font-face{
    font-family: "Crafter";
    src: url("fonts/Hello\ Crafter\ -\ Personal\ Use.ttf") format("truetype")
 }
 *{
     box-sizing: border-box;
 }

 html{
     min-height: 100vh;
     cursor: default;
 }

 body {
    margin: 0;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}
.page-title{
    color:whitesmoke;
    font-family:"Sweet";
    font-weight: normal;
    text-align: center;
    font-size: 5em;
}
.game-info-container{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
}
.game-info{
    color:#FBE6E2;
    font-size: 3em;
    font-family: "Crafter";
}
.game-container{
   display: grid;
   grid-template-columns: repeat(8,auto);
   grid-gap: 10px;
   margin:50px;
   justify-content: center;
   perspective: 1000px;
  
}
.card{
    position: relative;
    height: 150px;
    width: 150px;
    transform: scale(1);
    border: 1px solid greenyellow;
    transform-style: preserve-3d;
    transition: transform .5s;
}
.card.flip{
    transform: rotateY(180deg);
}
.card:active{
    transform: scale(.97);
    transition: transform .2s;
}
.card-back, .card-front{
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
    
}

.card.visible .card-back {
    transform: rotateY(-180deg);
  }
  
  .card.visible .card-front {
    transform: rotateY(0)
  }
.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #dfc788;
    font-family: "Sweet", serif;
  }
  
  .overlay-text-small {
    font-size: .3em;
  }
  
  .overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
  }
.next-level{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: 500;
    text-decoration: none;
    color: #FBE6E2;
    font-family: "Crafter";
    
}

@keyframes overlay-grow {
    from {
      background-color: rgba(0, 0, 0, 0);
      font-size: 0;
    }
    to {
      background-color: rgba(0, 0, 0, .8);
      font-size: 9em;
    }
  }

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (max-width: 600px) {
    .game-container {
      grid-template-columns: repeat(2, auto);
    }
  
    .game-info-container {
      flex-direction: column;
      align-items: center;
    }
  }
